@model inquizitor2.Models.Question
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />

    <h2>@Html.DisplayFor(model => model.Title)</h2>
    <p id="description"> @Html.DisplayFor(model => model.Content) <div class="userName">@Model.User.UserName</div></p>

    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Views)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Views)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Upvotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Upvotes)
        </dd>

    </dl>

    <h3>
        Comments
    </h3>
    <hr>

    @if (ViewBag.QComments == null)
    {
        <p class="absent">No Comments</p>
        <hr />


    }
    else
    {
        foreach (inquizitor2.Models.QuestionComment qC in ViewBag.QComments)
        {
            <p class="comments">@qC.Content <div class="userName">-@qC.User.UserName</div></p>
            <hr>
        }
    }
    @Html.ActionLink("Add Comment", "Create", "QuestionComments", new { id = Model.QuestionId }, null)
    <hr />
    <br />

    @if (ViewBag.Answers != null)
    {
        if (ViewBag.Answers.Count > 1)
        {
            <h3>@ViewBag.Answers.Count Answers</h3>
        }
        else
        {
            <h3>@ViewBag.Answers.Count Answer</h3>
        }
        <hr>
        foreach (inquizitor2.Models.Answer ans in ViewBag.Answers)
        {
<p id="answers">@ans.Content <div class="userName">-@ans.UserName</div> | @ans.Date</p>
            <br />
            <br />
            foreach (inquizitor2.Models.AnswerComment ac in ans.AnswerComments)
            {
                <hr />
                <p class="comments">@ac.Content <div class="userName">-@ac.User.UserName</div> | @ac.Date</p>
            }
            
            @Html.ActionLink("Add comment", "Create", "AnswerComments", new { id = ans.AnswerId }, null)
            <hr />
        }

    }
    else
    {
        <h3>Answers</h3>
        <p class="absent">No Answers</p>
    }
    @Html.ActionLink("Add Answer", "Create", "Answers", new { id = Model.QuestionId }, null)
    <hr />
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
